<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Leaftaps1">
  parameter<parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  parameter<parameter name="username" value="DemoSalesManager"></parameter>
  parameter<parameter name="password" value="crmsfa"></parameter>
  <test thread-count="5" name="Testnginvocation">
    <classes>
     <!--   <class name="week5.day2.Createleadinvovationcount"/>-->
     <class name="week5.day2.CreateleadDataProvider"/>
     <class name="week5.day2.EditLeadDataProvider"/>
     <class name="week5.day2.DuplicateLeadDataprovider"/>
     <class name="week5.day2.MergeLeadDataProvider"/>
     <class name="week5.day2.DeleteLeadDataProvider"/>
    </classes>
  </test> <!-- Testnginvocation -->
</suite> <!-- Suite -->
